<div clss="row" style="margin-top: 12vh;">
    <div class="offset-4 col-md-4">
        <center>
            <h1 style="font-weight: bolder; font-size:72pt">ERROR 404!</h1>
            <br>
            <h2 style="font-weight: bold; margin-left: 20px; font-size:18pt">Page not found.</h2>
            <a href="/"><button type="button" style="margin-left: 60px;" class="btn btn-primary">GO TO HOME</button></a>
        </center>
    </div>
</div>