<div class="container">
    <div style="margin: auto; width:80%; padding: 10px">
        <h1 style="font-size: 45pt; font-weight: bold; color: darkgreen;">WELCOME TO CARTOON NETWORK</h1><br>
        <h2 style="font-sze: 20pt; text-align:center">This is an awesome🤡 CARTOON.</h2>
    </div>
</div>